hr{
    width: 100%;                /* o el ancho que prefieras */
    margin: auto;
    margin-bottom: 50px;        /* centra horizontalmente */
    border: none;              /* elimina el borde por defecto */
    height: 3px;               /* grosor de la línea */
    background-color: #8c8585;    /* color de la línea */

    /* sombra */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
