@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Anta&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('presentacion.css');
@import url('nav_contenido.css');
@import url('footer.css');
@import url('fontello.css');


html, body {
    height: 100%;
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #333;
    width: 100%;
    height: 85px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;

    position: fixed;/*esto para que el header se quede siempre pegado*/
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{/*este div tiene el contenido del header*/
    width: 90%;
    margin: auto;
    
}
h1{
    padding-top: 20px;
    float: left;/*Esto hace que el input_label aparesca en la parte izquierda */
}


header .contenedor{
    display: table;
}
