/* Fondo */
body {
    margin: 0;
    padding-top: 70px; /* espacio para el navbar */
    background-image: url('https://st3.depositphotos.com/9899294/35613/i/450/depositphotos_356132272-stock-photo-creative-abstract-design-concept-colorful.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Contenedor principal (menú + contenido) */
.responsive-wrapper {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    justify-content: start;
    gap: 150px;         /* Espacio entre menú y formulario */
    padding: 0 40px;
}

/* Menú lateral izquierdo */
.responsive-sidebar {
    width: 270px;
    flex-shrink: 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin-left: 140px;
}

/* Título "Gestión" */
.responsive-sidebar .gestion {
    background-color: #ffc107;
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    margin: 0;
}

/* Lista de opciones */
.responsive-sidebar .nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.responsive-sidebar .nav li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border-top: 1px solid #eee;
}

.responsive-sidebar .nav li a:hover {
    background-color: #f2f2f2;
}

/* Formulario (contenido principal) */
.contenido-principal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenido-principal .container {
    margin: 0;
    max-width: 500px; /*para calcular el ancho*/
}

/* Botones */
.btn {
    padding-left: 25px;
    padding-right: 25px;
}

/*
.btn-circle {
    border-radius: 20px;
}*/

.nav1 {
    margin-right: 30px;
    font-size: 20px;
}

nav {
    padding: 20px 0;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
    .responsive-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .responsive-sidebar {
        max-width: 100%;
    }
}

footer{
    padding: 20px;
    background-color: #333;
    text-align: center;
}
p{
    color: rgb(122, 114, 114);
    font-size: px;
}