
body{

    background-image: url('https://st3.depositphotos.com/9899294/35613/i/450/depositphotos_356132272-stock-photo-creative-abstract-design-concept-colorful.jpg');
    background-repeat: no-repeat;     /* No repetir la imagen */
    background-size: cover;           /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center;      /* Centra la imagen */
    background-attachment: fixed; 

}

.footer {
    color: #887;
    background-color: #152909;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100%;

}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
    
}

.nav1{
    margin-right: 30px;
    font-size: 20px;
}

nav{
    padding: 20px 0;
}

a{
    font-size: 25px;
}
.navbar-brand{
    font-size: 20px;
    margin-right: 25px;

}

.nuevoFun{
    margin-bottom: -10px;
}

/*-----*/




@import url('https://fonts.googleapis.com/css?family=Numans');

.margintop20 {
    margin-top:20px;
}

.nav-pills>li>a {
border-radius: 0px;
}

a {
color: #000;
text-decoration: none;
font-size: 17px;
}

a:hover {
color: #000;
text-decoration: none;
}


.nav-stacked>li+li {
margin-top: 0px;
margin-left: 0;
border-bottom:1px solid #dadada;
border-left:1px solid #dadada;
border-right:1px solid #dadada;
font-family: Numans,sans-serif;
background-color: white;
}

.active2 {
    border-right:4px solid #28292b;
}


.piePagina{
    background-image: url('https://st3.depositphotos.com/9899294/35613/i/450/depositphotos_356132272-stock-photo-creative-abstract-design-concept-colorful.jpg');
    background-repeat: no-repeat;     /* No repetir la imagen */
    background-size: cover;           /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center;      
    background-attachment: fixed;     
    padding: 30px;
    margin-top: 40%; /*controlar el footer hacia arriba*/
    text-align: center;
}
.responsive-sidebar {/*controlar el menu*/
    min-width: 200px;
    max-width: 400px;
    width: 60%;
    box-sizing: border-box;
    margin-top: 200px;
    margin-left: 40px;
}
.gestion{
    background-color: #FFC312;
    padding: 10px 0;
    padding-bottom: 1px;
    font-family: Numans, sans-serif;
}
p{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}
