#presentacion {
    flex: 1;
    display: flex;
    flex-direction: column;
}



/* Contenedor del formulario */
.login-container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 380px;
    text-align: center;
}


/* Título */
.login-container h2 {
    margin-bottom: 20px;
    color: #333333;
}

/* Grupo de formulario */
.form-group {
    text-align: left;
    margin-bottom: 15px;
}

/* Etiquetas */
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-weight: 500;
}

/* Campos de entrada */
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #f9f9f9;
    transition: border 0.3s;
}

.form-group input:focus {
    border-color: #999999;
    outline: none;
}

/* Botón */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #9e9e9e; /* gris medio */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #7d7d7d;
}



.login-wrapper {
    flex: 1;
    display: flex;
    align-items: center;    /* centro vertical */
    justify-content: center; /* centro horizontal */
}
