
{% extends 'aBase/base.html' %}

{% load static %}

{% block title %}Ingresar partido{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/partido/agContenido.css' %}">
{% endblock %}

{%block content%}
                    <!-- Botón Volver -->
                    <a href="{% url 'vistaPa' %}" class="btn-volver">⬅ Volver</a>
        
                    <!-- Formulario de Registro de Equipo -->
                    <form class="formulario-equipo" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!-- Botones -->
                        <div class="botones-formulario">
                            <button href="#" class="btn guardar">Guardar</button>
                            <button href="#" class="btn cancelar">Cancelar</button>
                        </div>
                        <hr>
                        <div id="daatos"><h3>DATOS DEL PARTIDO</h3></div>
                        <!-- Uniforme (color) -->
                    </form>
{% endblock %}