{% extends 'usuario/perfil.html' %}

{% load static %}

{% block title %}
ver partido
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'usuario/perfil.css' %}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
<div id="partidos" class="contenido-partidos" style="margin-left: 220px; padding-top: 80px;">
    <div class="partido panel panel-default">
        <div class="fila-partido">
            <!-- Caja 1: Equipos -->
            <div class="caja equipos">
                <p class="equipoA">Equipo A</p>
                <p>vs</p>
                <p class="equipoB">Equipo B</p>
            </div>

            <!-- Caja 2: Detalles -->
            <div id="colores" class="caja detalles">
                <a href="{% url 'vistaAr' %}"><p>Árbitro: Juan Lopez</p></a>
                <p>Fecha: 12/09/2025</p>
                <p>Horario: 18:00</p>
                <p>Estadio: Nacional</p>
            </div>

                    
            
        </div>
    </div>
    
</div>

{% endblock %}