{% extends 'aBase/base.html' %}

{% load static %}

{% block title %}Ver partidos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/partido/vContenido.css' %}">
{% endblock %}

{%block content%}

<div class="barra-superior">
                    <input type="text" placeholder="Filtrar partido..." class="buscador">
                    <a type="submit" class="btn-anadir" href="{% url 'ingresarPa' %}">Añadir Partido</a>
                </div>

                <div class="grid-tarjetas">
                    {% for partido in partidos %}
                    <div class="tarjeta">
                        
                        <!-- Imagen izquierda -->
                        <h5 class="imagen-equipo">Equipo a</h5>
                        
                        <!-- Texto centrado -->
                        <div class="info-textos">
                            <span class="titulo">FECHA</span>
                            <span class="subtitulo">{{ partido.fecha }}</span>
                        </div>
                        
                        <!-- Imagen derecha -->
                        <h5 class="imagen-equipo">EQUIPO b</h5>
                        
                        <!-- Botones -->
                        <div class="botones-opciones">
                            <a href="{% url 'actualizarPartido' partido.id %}" class="btn-opcion">Actualizar</a>
                            <a href="{% url 'eliminarPartido' partido.id %}" class="btn-opcion eliminar">Eliminar</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
{% endblock %}