#container_contenido{/*TODO ESTO ES EL ESPACIO ENTRE LAS DOS CAJAS MENU Y contenido*/
    margin: auto;
    padding: 20px 40px;
    padding-bottom: 60px;
    height: 100%;
    border-radius: 6px;
    background-color: rgb(237, 237, 227);
    width: 60%;
    text-align: center;
}


.btn-volver {
    border-radius: 4px;
    padding: 7px 10px;
    background-color: rgb(245, 245, 235);
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    
}

.formulario-equipo {
    margin: auto;
    max-width: 400px;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario-equipo label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.formulario-equipo input[type="text"],
.formulario-equipo input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px; /*MANTENER DISTANCIA ENTRE EL MENSAJE DE ERROR Y EL INPUT*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario-equipo input[type="color"] {
    height: 50px;
    border: none;
    padding: 0;
}
/*CONTROL DE ERRORES */

.error ul {
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
}

/*.botones-formulario {
    
}*/

.btn {
    padding: 7px 13px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    border: none;
}

.btn.guardar {
    background-color: #4CAF50;
}

.btn.cancelar {
    background-color: #f44336;
}

.btn.borrador {
    background-color: #2196F3;
}
