#presentacion {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#nav_contenido{
    flex: 1;
    margin-top: 10%;

    width: 75%;
    margin: auto;
    display: flex;
    gap: 7%;
    align-items: flex-start; /* Alinea los hijos al inicio en vertical */

}

#nav {
    border-radius: 0px;
    width: 25%;
    padding: 15px 10px;
    background-color: rgb(237, 237, 227);
    text-align: center;
    color: cornflowerblue;
    align-self: flex-start;
    margin-top: 30px;

  /* A칌ADIR ESTO 游녢 */
    display: flex;
    flex-direction: column;
  align-items: center; /* Centra horizontalmente */
}


#nav .ss1 {
    width: 100%;
    display: inline-block;     /* Hace que el bot칩n se adapte al contenido */
    padding: 12px 15px;        /* Espaciado interno */
    background-color:white;
    border-radius: 7px;
    margin-bottom: 10px;
    color: purple;
    font-weight: 500;
    letter-spacing: 1px;       /* Espaciado entre letras */
    white-space: nowrap;       /* Previene salto de l칤nea */
    overflow: hidden;          /* Oculta lo que sobresale */
    text-overflow: ellipsis;   /* Agrega "..." si el texto es muy largo */
    border-bottom: 2px solid #333;
}

#nav .ss2{
    background-color: rgb(146, 157, 71);
    
}
#nav .ss2 a{
    color: aliceblue;
    
}
#nav .ss2:hover {
    background-color: rgb(137, 137, 62); /* Un poco m치s claro al pasar el mouse */
}
#nav .ss1:hover {
    background-color: beige; /* Un poco m치s claro al pasar el mouse */
}


#nav .seccion{
    border-bottom: 1px solid black;
}

a{
    text-decoration: none;
}

a i {
    margin-left: 10%;
    vertical-align: middle;
    font-size: 1em; /* ajusta si el 칤cono se ve muy grande */
}

#titulo{ /*es la cabeza del menu*/
    width: 100%;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    background-color:#423f3f;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    letter-spacing: 1px; 
    overflow: hidden;          /* Oculta lo que sobresale */
    display: inline-block;     /* Hace que el bot칩n se adapte al contenido */
}
