{% extends 'aBase/base.html' %}

{% load static %}

{% block title %}registrar equipo{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/equipo/agContenido.css' %}">
{% endblock %}

{%block content%}
                    <!-- Formulario de Registro de Equipo -->
                    <form class="formulario-equipo" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}

                        <!-- Botones -->
                        <div class="botones-formulario">
                            <button type="submit" class="btn guardar">Guardar</button>
                            <button href="{% url 'vistaEq' %}" class="btn cancelar">Cancelar</button>
        
                        </div>
                    </form>
{% endblock %}