{% extends 'aBase/base.html' %}

{% load static %}

{% block title %}Ver Equipos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/equipo/eContenido.css' %}">
{% endblock %}

{%block content%}
<div class="barra-superior">
    <input type="text" placeholder="Buscar equipo..." class="buscador">
    <a type="submit" class="btn-anadir" href="{% url 'ingresarEq' %}">Añadir Equipo</a>
</div>

<div class="grid-tarjetas">
                    <!-- Cabecera -->
    <div class="tarjeta encabezado">
        <div class="col-numero">ID</div>
        <div class="col-texto">Nombre</div>
        <div class="col-texto">Uniforme</div>
        <div class="col-botones"></div>
    </div>
    <!-- Tarjetas dinámicas -->
    {% for equipo in equipos %}
    <div class="tarjeta">
        <div class="col-numero">{{ equipo.id }}</div>
        <div class="col-texto">{{ equipo.nombre }}</div>
        <div class="col-texto">{{ equipo.uniforme }}</div>
        <div class="col-botones">
            <a href="{% url 'actualizarEquipo' equipo.id %}" class="btn-opcion">Actualizar</a>
            <a href="{% url 'eliminarEquipo' equipo.id %}" class="btn-opcion eliminar">Eliminar</a>
        </div>
    </div>
                    {% endfor %}
</div>
{% endblock %}