{% extends 'aBase/base.html' %}

{% load static %}

{% block title %}Ver jugadores{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/jugador/agContenido.css' %}">
{% endblock %}

{%block content%}
                    <!-- Botón Volver -->
                    <a href="{% url 'vistaJu' %}" class="btn-volver">⬅ Volver</a>
        
                    <!-- Formulario de Registro de Equipo -->
                    <form class="formulario-equipo" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <!-- Botones -->
                        <div class="botones-formulario">
                            <button type="submit" href="#" class="btn guardar">Guardar</button>
                            <button href="#" class="btn cancelar">Cancelar</button>
                        </div>
                    </form>
                </div>
{% endblock %}