<!DOCTYPE html>
{% load static %}
{% load extras %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/jugador/vIndice.css' %}">

    <link rel="stylesheet" href="{% static 'css/jugador/fontello.css' %}">


</head>
<body>
<header>
    <div class="contenedor">
        <div id="icono" class="icon-ball">Pasión Deportiva</div>

            <!-- ✅ Checkbox para controlar el menú (oculto) -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">

            <!-- ✅ Etiqueta que actúa como botón de menú -->
            <label for="menu-toggle" class="profile-trigger">
                <div class="userName">{{user.username}}</div>
                <img src="{% static 'css/usuario/img/usuario.jpg' %}" alt="imagen del usuario" width="40px" height="40px">
            </label>

                <!-- ✅ Menú desplegable -->
            <div class="dropdown">
                <a href="#">Ver perfil</a>
                <a href="{% url 'perfilAdm' %}">Cerrar sesión</a>
            </div>
    </div>
</header>
    <div id="espacio">

    </div>

        
    <div id="presentacion">
        
        <div id="nav_contenido">

            <nav id="nav">
                <a type="submit" class="seccion ss1" href="{% url 'inicioAdmin' %}">Inicio</a>
                <section class="seccion" id="titulo">Panel de Administración</section>
            
                <section type="submit" class="seccion ss1" id="jugador"><a href="{% url 'vistaJu' %}">Jugadores <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1" id="equipo"><a href="{% url 'vistaEq' %}">Equipos <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1" id="partido"><a href="{% url 'vistaPa' %}">Partidos <i class="icon-right-open icon-open"></i></a></section>

                <section type="submit" class="seccion ss1 ss2" id="asignarEP"><a href="{% url 'asignarEP' %}">equipo x partido 1 <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1 ss2" id="asignarJE"><a href="{% url 'asignarJE' %}">jugadores x equipo <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1 ss2" id="asignarJP"><a href="{% url 'asignarJP' %}">jugadores x partido <i class="icon-right-open icon-open"></i></a></section>
                
            </nav>

            <div id="container_contenido">
                <div class="barra-superior">
                    <input type="text" placeholder="Filtrar jugador..." class="buscador">
                    <a type="submit" class="btn-anadir" href="{% url 'ingresarJu' %}">Añadir Jugador</a>
                </div>

                                    <!-- Contenedor de tarjetas -->
                    <div class="grid-tarjetas">
                        <!-- Cabecera -->
                        <div class="tarjeta encabezado">
                        <div class="col-imagen"></div>
                        <div class="col-numero">ID</div>
                        <div class="col-texto">Nombre</div>
                        <div class="col-texto">Apellido</div>
                        <div class="col-numero">Dorsal</div>
                        <div class="col-texto">Nacionalidad</div>
                        <div class="col-texto">Posición</div>
                        <div class="col-texto">Equipo</div>
                        <div class="col-botones"></div>
                    </div>

                        <!-- Tarjetas dinámicas -->
                        {% for jugador in jugadores %}
                        <div class="tarjeta">
                            <div class="col-imagen">
                                <img src="{% static 'css/jugador/img/jugador.jpg' %}" alt="Imagen">
                            </div>
                            <div class="col-numero">{{ jugador.id }}</div>
                            <div class="col-texto">{{ jugador.nombre }}</div>
                            <div class="col-texto">{{ jugador.apellido }}</div>
                            <div class="col-numero">{{ jugador.dorsal }}</div>
                            <div class="col-texto">{{ jugador.nacionalidad }}</div>
                            <div class="col-texto">{{ jugador.posicion }}</div>
                            <div class="col-texto">
                                {% with relaciones|get_item:jugador.id as equipo %}
                                    {% if equipo %}
                                        {{ equipo.nombre }}
                                    {% else %}
                                        Sin asignar
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-botones">
                                <a href="{% url 'actualizarJugador' jugador.id %}"  class="btn-opcion"  >Actualizar</a>
                                <a href="{% url 'eliminarJugador' jugador.id %}" class="btn-opcion eliminar"  >Eliminar</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

            </div>
        </div>
        <footer id="footer">
            <p class="pie">Pasion Deportiva 2025</p>
        </footer>
    </div> 
</body>
</html>