{% extends 'aBase/base.html' %}

{% load static %}

{% block title %}Ver jugadores{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/jugador/vContenido.css' %}">
{% endblock %}

{%block content%}
<div class="barra-superior">
    <input type="text" placeholder="Filtrar jugador..." class="buscador">
    <a type="submit" class="btn-anadir" href="{% url 'ingresarJu' %}">Añadir Jugador</a>
</div>

    <!-- Contenedor de tarjetas -->
    <div class="grid-tarjetas">
                    <!-- Cabecera -->
    <div class="tarjeta encabezado">

        <div class="col-numero">ID</div>
        <div class="col-texto">Nombre</div>
        <div class="col-texto">Apellido</div>
        <div class="col-numero">Dorsal</div>
        <div class="col-texto">Nacionalidad</div>
        <div class="col-texto">Posición</div>
        <div class="col-botones"></div>
    </div>

        <!-- Tarjetas dinámicas -->
        {% for jugador in jugadores %}
        <div class="tarjeta">

        <div class="col-numero">{{ jugador.id }}</div>
        <div class="col-texto">{{ jugador.nombre }}</div>
        <div class="col-texto">{{ jugador.apellido }}</div>
        <div class="col-numero">{{ jugador.dorsal }}</div>
        <div class="col-texto">{{ jugador.nacionalidad }}</div>
        <div class="col-texto">{{ jugador.posicion }}</div>
        <div class="col-botones">
            <a href="{% url 'actualizarJugador' jugador.id %}" class="btn-opcion">Actualizar</a>
            <a href="{% url 'eliminarJugador' jugador.id %}" class="btn-opcion eliminar">Eliminar</a>
        </div>
            </div>
                {% endfor %}
            </div>
{% endblock %}