/* Barra superior */
#container_contenido{/*TODO ESTO ES EL ESPACIO ENTRE LAS DOS CAJAS MENU Y contenido*/
    margin: auto;
    padding: 10px;
    
    background-color: rgb(237, 237, 227);
    width: 60%;
    text-align: center;
}
.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0eee5;
    padding: 15px;
    padding-bottom: 6px;
    border-radius: 3px;
    border-bottom: 15px solid white;
    margin-bottom: 10px;
    
}

.buscador {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-right: 15px;
}

.btn-anadir {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-anadir a{
    color: white;
}

.barra-superior .btn-anadir:hover{
    background-color: #6cb16e;

}

/* Contenedor general */
.grid-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Tarjeta individual y encabezado */
.tarjeta,
.tarjeta.encabezado {
    display: grid;
    grid-template-columns:
        50px   /* Imagen */
        35px   /* ID */
        100px  /* Nombre */
        110px  /* Apellido */
        60px   /* Dorsal */
        130px  /* Nacionalidad */
        100px  /* Posición */
        auto;  /* Botones */
    align-items: center;
    padding: 6px 8px;
    padding-bottom: 1px;
}
.tarjeta{
    background-color: white;
}

/* Encabezado especial */
.tarjeta.encabezado {
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
    color: #333;
    padding: 5px 8px;
}

/* Imagen */
.col-imagen img {
    width: 2.8em;
    height: 2.8em;
    object-fit: cover;
    border-radius: 3px;
}

/* Texto */
.col-texto {
    font-size: 14px;
    color: #333;
    padding: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Números (ID, dorsal) */
.col-numero {
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 3px;
    white-space: nowrap;
}

/* Botones */
.col-botones {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

/* Estilo botones */
.btn-opcion {
    padding: 4px 9px;
    font-size: 12px;
    border: 1px solid #3578c5;
    background-color: white;
    color: #3578c5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

.btn-opcion:hover {
    background-color: #3578c5;
    color: white;
}

.btn-opcion.eliminar {
    border-color: #f44336;
    color: #f44336;
}

.btn-opcion.eliminar:hover {
    background-color: #f44336;
    color: white;
}
