<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/arbitro/viIndice.css' %}">

    <link rel="stylesheet" href="{% static 'css/arbitro/fontello.css' %}">
</head>
<body>
<header>
    <div class="contenedor">
        <div id="icono" class="icon-ball">Pasión Deportiva</div>

            <!-- ✅ Checkbox para controlar el menú (oculto) -->
            <input type="checkbox" id="menu-toggle" class="menu-toggle">

            <!-- ✅ Etiqueta que actúa como botón de menú -->
            <label for="menu-toggle" class="profile-trigger">
                <div class="userName">{{user.username}}</div>
                <img src="{% static 'css/usuario/img/usuario.jpg' %}" alt="imagen del usuario" width="40px" height="40px">
            </label>

                <!-- ✅ Menú desplegable -->
            <div class="dropdown">
                <a href="#">Ver perfil</a>
                <a href="{% url 'perfilAdm' %}">Cerrar sesión</a>
            </div>
    </div>

</header>
    <div id="espacio">

    </div>

        
    <div id="presentacion">
        
        <div id="nav_contenido">

            <nav id="nav">
                <a href="{% url 'inicioAdmin' %}" type="submit" class="seccion ss1">Inicio </a>
                <section class="seccion" id="titulo">Panel de Administración</section>
                
                <section type="submit" class="seccion ss1" id="jugador"><a href="{% url 'vistaJu' %}">Jugadores <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1" id="equipo"><a href="{% url 'vistaEq' %}">Equipos <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1" id="partido"><a href="{% url 'vistaPa' %}">Partidos <i class="icon-right-open icon-open"></i></a></section>

                <section type="submit" class="seccion ss1 ss2" id="asignarEP"><a href="{% url 'asignarEP' %}">equipo x partido 1 <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1 ss2" id="asignarJE"><a href="{% url 'asignarJE' %}">jugadores x equipo <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1 ss2" id="asignarJP"><a href="{% url 'asignarJP' %}">jugadores x partido <i class="icon-right-open icon-open"></i></a></section>
                <section type="submit" class="seccion ss1 ss3" id=""><a href="{% url 'inicioAdmin' %}" style="color: aliceblue;">Publicar<i class="icon-right-open icon-open"></i></a></section>
                
            </nav>

            <div id="container_contenido2">
                <h1 class="titulo-inicio">BIENVENIDO AL MENÚ DE INICIO</h1>
                <div class="icon-ball" style="color: cadetblue; margin-top: 20px; font-size: 50px;;"></div>
            </div>
        </div>
        <footer id="footer">
            <p class="pie">Pasion Deportiva 2025</p>
        </footer>
    </div> 
</body>
</html>