<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}perfil{% endblock %}</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="{% static 'css/usuario/perfiladn.css' %}">
    <link rel="stylesheet" href="{% static 'estadio/ingresarEs.css' %}">
    
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand text-uppercase" href="#">Página Deportiva</a>
                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="Bienvenido "><a class="navbar-brand text-uppercase">Bienvenido {{user.username}}</a></li>

                        <a href="{% url 'perfil' %}" class="btn btn-primary btn btn-success navbar-btn btn-circle">Ver contenido</a>
                        <a href="{% url 'login' %}" class="btn btn-primary btn btn-success navbar-btn btn-circle">Cerrar sesión</a>
                    </ul>
                </div>
            </div>
        </nav>


    <div class="responsive-wrapper">
        <!-- SIDEBAR -->
        <div class="responsive-sidebar">
            <ul class="nav nav-pills nav-stacked">
                <li class="gestion"><p>Gestión</p></li>
                <li><a href="{% url 'ingresarJu' %}"><span class="glyphicon glyphicon-chevron-right"></span> Jugador</a></li>
                <li><a href="{% url 'ingresarEq' %}"><span class="glyphicon glyphicon-chevron-right"></span> Equipo</a></li>
                <li><a href="{% url 'ingresarPa' %}"><span class="glyphicon glyphicon-chevron-right"></span> Partido</a></li>
                <li><a href="{% url 'ingresarEs' %}"><span class="glyphicon glyphicon-chevron-right"></span> Estadio</a></li>
                <li><a href="{% url 'ingresarAr' %}"><span class="glyphicon glyphicon-chevron-right"></span> Arbitro</a></li>
            </ul>
        </div>

        <!-- CONTENIDO DINÁMICO -->
        <div class="contenido-principal">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer>
            <p>Página Deportiva 2025</p>
    </footer>
</body>