<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}perfil{% endblock %}</title>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="{% static 'css/usuario/perfil.css' %}">
    {% block extra_css %}
    {% endblock %}

</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    </button>
                    <a class="navbar-brand text-uppercase" href="#">Página Deportiva</a>
                </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="nav1">Bienvenido</a></li>

                        <a href="{% url 'login' %}" class="btn btn-primary btn btn-success navbar-btn btn-circle">Iniciar sesión</a>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- 🔽 Botones en el costado izquierdo -->
        <div class="sidebar-botones">
            <a href="{% url 'vistaPa' %}" id="btn-partidos" class="btn btn-primary">Partidos</a>
            <a href="{% static '' %}" class="btn btn-primary">Equipos</a>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    <!-- 🔹 JS externo -->
    <script src="{% static 'js/usuario/perfil.js' %}"></script>
        

    <footer class="footer text-center">
        <div class="container">
            <p>Página deportiva 2025</p>
        </div>
    </footer>
</body>
